@font-face
	font-family Gotham-Bold
	src url(../src/fonts/Gotham-Bold.otf)


@font-face
	font-family Gotham-Book
	src url(../src/fonts/Gotham-Book.otf)
}

@font-face
	font-family Gotham-Light
	src url(../src/fonts/Gotham-Light.otf)

@font-face
	font-family Gotham-Medium
	src url(../src/fonts/Gotham-Medium.otf)
}


@import './normalize';
@import './responsive';
@import './home.css';
@import './home_responsive.css';
@import './animate.css';

.contenedor, .loadedView 
	width 100%
	height auto 
