@media (max-width: 1680px)
  body
    opacity 1

@media (max-width: 1366px)
  body
    opacity 1

@media (max-width: 1024px)
  body
    opacity 1

@media (max-width: 768px)
  body
    opacity 1

@media (max-width: 640px)
  body
    opacity 1

@media (max-width: 480px)
  body
    opacity 1